name: .NET CI

on: [push, pull_request]

jobs:
  build:
    name: .Net ${{ matrix.framework }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-latest]
        framework: ['8.0']
        include:
        - os: ubuntu-22.04
          target: linux-x64
        - os: windows-latest
          target: win-x64
    timeout-minutes: 30

    steps:
    - uses: actions/checkout@v5

    - if: matrix.os == 'ubuntu-22.04'
      name: Install Linux packages
      run: |
       sudo apt-get update
       sudo apt-get install -y build-essential libkrb5-dev make gcc libc-dev cmake llvm

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ matrix.framework }}

    - name: Install dependencies for ${{ matrix.target }}
      run: dotnet restore -r ${{ matrix.target }}

    - name: Build ${{ matrix.target }}
      run: dotnet publish "LocalAdmin V2.csproj" -r ${{ matrix.target }} -c release -o "${{ github.workspace }}/builds/${{ matrix.framework }}/${{ matrix.target }}"

    - name: Upload ${{ matrix.target }} Build
      uses: actions/upload-artifact@v4
      with:
        name: LocalAdmin-${{ matrix.target }}-${{ matrix.framework }}
        path: ${{ github.workspace }}/builds/${{ matrix.framework }}/${{ matrix.target }}
